
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&sensors {
    triggers-per-rotation = <30>;
};

/ {
        keymap {
                compatible = "zmk,keymap";

//                default_layer {
//                        bindings = <
//      &kp TAB     &kp Q   &kp W   &kp E      &kp R   &kp T           &kp Y     &kp U   &kp I       &kp O     &kp P      &kp BSPC
//      &kp LCTRL   &kp A   &kp S   &kp D      &kp F   &kp G           &kp H     &kp J   &kp K       &kp L     &kp SEMI   &kp SQT
//      &kp LSHFT   &kp Z   &kp X   &kp C      &kp V   &kp B           &kp N     &kp M   &kp COMMA   &kp DOT   &kp FSLH   &kp ESC
//                                  &kp LGUI   &mo 1   &kp SPACE       &kp RET   &mo 2   &kp RALT
//                        >;
//                };

                default_layer {
                      bindings = <
//    ┌─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬──────┐   ┌───┬─────────────┬─────────────┬─────────────┬─────────────┬──────┐
//    │     tab     │      Q      │      W      │      E      │      R      │  T   │   │ Y │      U      │      I      │      O      │      P      │  \   │
//    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────┤   ├───┼─────────────┼─────────────┼─────────────┼─────────────┼──────┤
//    │ mt lctl esc │ &hml lgui A │ &hml lalt S │ &hml lsft D │ &hml lctl F │  G   │   │ H │ &hmr rctl J │ &hmr rsft K │ &hmr ralt L │ &hmr rgui ; │  '   │
//    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────┤   ├───┼─────────────┼─────────────┼─────────────┼─────────────┼──────┤
//    │    lsft     │      Z      │      X      │      C      │      V      │  B   │   │ N │      M      │      ,      │      .      │      /      │ rsft │
//    └─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼──────┤   ├───┼─────────────┼─────────────┼─────────────┴─────────────┴──────┘
//                                              │ lt FUN tab  │ lt NAV spc  │ mute │   │ X │ lt NUM spc  │ lt SYS ent  │
//                                              └─────────────┴─────────────┴──────┘   └───┴─────────────┴─────────────┘
  &kp TAB         &kp Q         &kp W         &kp E          &kp R           &kp T            &kp Y   &kp U           &kp I          &kp O         &kp P            &kp BSLH
  &mt LCTRL ESC   &hml LGUI A   &hml LALT S   &hml LSHFT D   &hml LCTRL F    &kp G            &kp H   &hmr RCTRL J    &hmr RSHFT K   &hmr RALT L   &hmr RGUI SEMI   &kp SQT
  &kp LSHFT       &kp Z         &kp X         &kp C          &kp V           &kp B            &kp N   &kp M           &kp COMMA      &kp DOT       &kp FSLH         &kp RSHFT
                                              &lt FUN TAB    &lt NAV SPACE   &kp C_MUTE       &kp X   &lt NUM SPACE   &lt SYS RET
                      >;
                };

                nav_layer {
                        bindings = <
//    ┌─────┬──────────┬──────────┬───────────┬──────────┬─────┐   ┌──────┬───────────┬───────────┬───────────┬─────┬─────┐
//    │ ___ │   ___    │   ___    │ lsft(tab) │ &swapper │ ___ │   │ pgup │ _NAV_bspc │  _NAV_up  │ _NAV_del  │ ___ │ ___ │
//    ├─────┼──────────┼──────────┼───────────┼──────────┼─────┤   ├──────┼───────────┼───────────┼───────────┼─────┼─────┤
//    │ ___ │ &sk lgui │ &sk lalt │ &sk lsft  │ &sk lctl │ ___ │   │ pgdn │ _NAV_left │ _NAV_down │ _NAV_rght │ ent │ ___ │
//    ├─────┼──────────┼──────────┼───────────┼──────────┼─────┤   ├──────┼───────────┼───────────┼───────────┼─────┼─────┤
//    │ ___ │   ___    │   ___    │    ___    │   ___    │ ___ │   │ ins  │    tab    │     <     │     >     │ ___ │ ___ │
//    └─────┴──────────┴──────────┼───────────┼──────────┼─────┤   ├──────┼───────────┼───────────┼───────────┴─────┴─────┘
//                                │    ___    │   ___    │ ___ │   │ ___  │  _CANCEL  │    ___    │
//                                └───────────┴──────────┴─────┘   └──────┴───────────┴───────────┘
  ___   ___        ___        &kp LS(TAB)   &swapper    ___       &kp PG_UP   _NAV_BSPC   _NAV_UP     _NAV_DEL     ___       ___
  ___   &sk LGUI   &sk LALT   &sk LSHFT     &sk LCTRL   ___       &kp PG_DN   _NAV_LEFT   _NAV_DOWN   _NAV_RIGHT   &kp RET   ___
  ___   ___        ___        ___           ___         ___       &kp INS     &kp TAB     &kp LT      &kp GT       ___       ___
                              ___           ___         ___       ___         _CANCEL     ___
      >;
    };


                fun_layer {
                        bindings = <
//    ┌─────┬───────────────┬──────────────┬──────────────┬──────────────┬─────┐   ┌──────────┬──────────┬───────────┬─────────┬─────┬─────┐
//    │ ___ │      f12      │      f7      │      f8      │      f9      │ ___ │   │   ___    │   prev   │   volu    │  next   │ ___ │ ___ │
//    ├─────┼───────────────┼──────────────┼──────────────┼──────────────┼─────┤   ├──────────┼──────────┼───────────┼─────────┼─────┼─────┤
//    │ ___ │ &hml lgui f11 │ &hml lalt f4 │ &hml lsft f5 │ &hml lctl f6 │ ___ │   │   ___    │ _DSprev  │ _VOL_down │ _DSnext │ ___ │ ___ │
//    ├─────┼───────────────┼──────────────┼──────────────┼──────────────┼─────┤   ├──────────┼──────────┼───────────┼─────────┼─────┼─────┤
//    │ ___ │      f10      │      f1      │      f2      │      f3      │ ___ │   │ _PIN_APP │ _PIN_WIN │ _DSK_MGR  │   ___   │ ___ │ ___ │
//    └─────┴───────────────┴──────────────┼──────────────┼──────────────┼─────┤   ├──────────┼──────────┼───────────┼─────────┴─────┴─────┘
//                                         │     ___      │     ___      │ ___ │   │   mute   │   play   │    ___    │
//                                         └──────────────┴──────────────┴─────┘   └──────────┴──────────┴───────────┘
  ___   &kp F12         &kp F7         &kp F8          &kp F9          ___       ___          &kp C_PREV   &kp C_VOL_UP   &kp C_NEXT   ___   ___
  ___   &hml LGUI F11   &hml LALT F4   &hml LSHFT F5   &hml LCTRL F6   ___       ___          _DSK_PREV    _VOL_DOWN      _DSK_NEXT    ___   ___
  ___   &kp F10         &kp F1         &kp F2          &kp F3          ___       _PIN_APP     _PIN_WIN     _DSK_MGR       ___          ___   ___
                                       ___             ___             ___       &kp C_MUTE   &kp C_PP     ___
      >;
    };

                num_layer {
                        bindings = <
//    ┌─────┬─────────────┬─────────────┬─────────────┬─────────────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │ ___ │     ___     │      7      │      8      │      9      │ ___ │   │ ___ │ ___ │ ___ │ ___ │ ___ │ ___ │
//    ├─────┼─────────────┼─────────────┼─────────────┼─────────────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │ ___ │ &hml lgui 0 │ &hml lalt 4 │ &hml lsft 5 │ &hml lctl 6 │ ___ │   │ ___ │ ___ │ ___ │ ___ │ ___ │ ___ │
//    ├─────┼─────────────┼─────────────┼─────────────┼─────────────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │ ___ │     ___     │      1      │      2      │      3      │ ___ │   │ ___ │ ___ │ ___ │ ___ │ ___ │ ___ │
//    └─────┴─────────────┴─────────────┼─────────────┼─────────────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────┘
//                                      │     ___     │     ___     │ ___ │   │ ___ │ ___ │ ___ │
//                                      └─────────────┴─────────────┴─────┘   └─────┴─────┴─────┘
  ___   ___            &kp N7         &kp N8          &kp N9          ___       ___   ___   ___   ___   ___   ___
  ___   &hml LGUI N0   &hml LALT N4   &hml LSHFT N5   &hml LCTRL N6   ___       ___   ___   ___   ___   ___   ___
  ___   ___            &kp N1         &kp N2          &kp N3          ___       ___   ___   ___   ___   ___   ___
                                      ___             ___             ___       ___   ___   ___
      >;
    };

                sys_layer {
                        bindings = <
//    ┌──────────┬──────────┬──────────┬──────────┬────────┬────────────┐   ┌────────────┬─────┬─────┬─────┬─────┬─────┐
//    │ bt_sel 0 │ bt_sel 1 │ bt_sel 2 │ bt_sel 3 │ bt_clr │   to DEF   │   │    ___     │ ___ │ ___ │ ___ │ ___ │ ___ │
//    ├──────────┼──────────┼──────────┼──────────┼────────┼────────────┤   ├────────────┼─────┼─────┼─────┼─────┼─────┤
//    │   ___    │   ___    │   ___    │   ___    │  ___   │    boot    │   │    boot    │ ___ │ ___ │ ___ │ ___ │ ___ │
//    ├──────────┼──────────┼──────────┼──────────┼────────┼────────────┤   ├────────────┼─────┼─────┼─────┼─────┼─────┤
//    │   ___    │   ___    │   ___    │   ___    │  ___   │ &sys_reset │   │ &sys_reset │ ___ │ ___ │ ___ │ ___ │ ___ │
//    └──────────┴──────────┴──────────┼──────────┼────────┼────────────┤   ├────────────┼─────┼─────┼─────┴─────┴─────┘
//                                     │   ___    │  ___   │    ___     │   │    ___     │ ___ │ ___ │
//                                     └──────────┴────────┴────────────┘   └────────────┴─────┴─────┘
  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_CLR   &to DEF           ___           ___   ___   ___   ___   ___
  ___            ___            ___            ___            ___          &bootloader       &bootloader   ___   ___   ___   ___   ___
  ___            ___            ___            ___            ___          &sys_reset        &sys_reset    ___   ___   ___   ___   ___
                                               ___            ___          ___               ___           ___   ___
      >;
    };

                mse_layer {
                        bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌───────┬───────┬───────┬───────┬───────┬─────┐
//    │ ___ │ ___ │ ___ │ ___ │ ___ │ ___ │   │ _MW_L │ _MW_D │ _MS_U │ _MW_U │ _MW_R │ ___ │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤   ├───────┼───────┼───────┼───────┼───────┼─────┤
//    │ ___ │ ___ │ ___ │ ___ │ ___ │ ___ │   │  ___  │ _MS_L │ _MS_D │ _MS_R │  ___  │ ___ │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤   ├───────┼───────┼───────┼───────┼───────┼─────┤
//    │ ___ │ ___ │ ___ │ ___ │ ___ │ ___ │   │  ___  │ mbck  │ mclk  │ mfwd  │  ___  │ ___ │
//    └─────┴─────┴─────┼─────┼─────┼─────┤   ├───────┼───────┼───────┼───────┴───────┴─────┘
//                      │ ___ │ ___ │ ___ │   │ lclk  │ rclk  │  ___  │
//                      └─────┴─────┴─────┘   └───────┴───────┴───────┘
  ___   ___   ___   ___   ___   ___       _MW_L       _MW_D       _MS_U       _MW_U      _MW_R   ___
  ___   ___   ___   ___   ___   ___       ___         _MS_L       _MS_D       _MS_R      ___     ___
  ___   ___   ___   ___   ___   ___       ___         &mkp MB4    &mkp MCLK   &mkp MB5   ___     ___
                    ___   ___   ___       &mkp LCLK   &mkp RCLK   ___
      >;
    };
  };
};
